services:
  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /mnt/efs/static:/usr/share/nginx/html/static
    depends_on:
      - flaskapp
    networks:
      - bookstore_net

  flaskapp:
    build: .
    env_file:
      - .env
    expose:
      - "5000"
    volumes:
      - /mnt/efs/uploads:/app/uploads
    networks:
      - bookstore_net

networks:
  bookstore_net:

