version: '3.8'

services:
  nginx:
    image: nginx:stable
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl.conf:/etc/nginx/ssl.conf:ro
      - /etc/letsencrypt/live/sdproject.store:/etc/letsencrypt/live/sdproject.store:ro
      - /etc/letsencrypt/archive/sdproject.store:/etc/letsencrypt/archive/sdproject.store:ro
    depends_on:
      - flaskapp
    command: >
      /bin/bash -c "rm -f /etc/nginx/conf.d/default.conf &&
                    nginx -g 'daemon off;'"
    networks:
      - bookstore_net

  flaskapp:
    build: .
    restart: always
    env_file:
      - .env
    expose:
      - "5000"
    networks:
      - bookstore_net

networks:
  bookstore_net:
